@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	background-color:aquamarine;
}
.p
body{
	background-color:white;
}
header{
	background-position: right;
	height: 200px;
	width: 100%;
	font-size: 50px;
	color: green; 
	padding: 10px;
	background-color: aquamarine;
	
}
.cabecera{
	margin:10px;
	background-color: aquamarine;	
}

.superior{
	
	background-color: aquamarine;
	display: inline block;
	font-size: 50px;
	margin: 50px;
	padding-right: 70px;
	text-align: center;
	width: 200px;
	height: 5px;
	float: right;
}
.texto-cabecera{
	font-size:35px;
	float:right;
	margin-top:5%;
	margin-bottom: 0%;
	color:black;
	background-color: aquamarine;
}	

#button {
padding: 0;
}
#button li {
display: inline;	
}
#button li a {
font-family: Arial;
font-size:20px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #333C45;
color: #fff;
	width: 48%;
	margin-top:10px;
	
	
	
}
#button li a:hover {
background-color: #2586d7;
padding-bottom: 5px;


}
section {
	
	background-color: white;
	position: relative;
	bottom: 400px;
	left: 20%;
	width: 80%;	
	
}
.article_1{
	margin-top: 250px;
	margin-left: px;
	background-color: white;
	}
.article_2{
	height: 100px;
	display:inline;
	background-color:white;
	font-size: 40px;
	margin-bottom: 10px;
	
	}
nav{
	margin-bottom:10px;
	height:200px;
	width: 20%;	
}

.menulateral{
	
	margin-top:10%;
	width: 80%;
	list-style: none;	
	background-color: royalblue;
	margin-bottom: 80px;
	height:20px;
	text-align: center;
	box-shadow: 5px 0px 10px;
	color: black;
}
.menulateral a{
	background-color:royalblue;
}
.texto-lateral{
	background-color: aqua;
}

 
footer div {
	width:100px;
	float:left;
	padding:5px;
	background-color: rgba(46,44,44,1.00);
}
 
footer #acerca-de {
	font-family:Arial, Helvetica, Sans-serif;
	
	color:#8c8c8c;
	
	
}
 
footer #acerca-de h3 {
	font-family:sourcesans-light;
	font-size:20px;
	color:#fff;
	margin-bottom:5px;
}

footer #redes-s{
	display:-webkit-flex; 
	display: -ms-flexbox; 
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	width:100%;
}
 
footer #redes-s > div {
	opacity:0.5;
}
 
footer #redes-s > div a {
	
	display:inline-block;
}
footer #redes-s > div:hover {
	opacity:1;
}

